<!-- Note: Client available from Express Application: api/testCookieClient -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Loader | {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/scripts.js" defer></script>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
</head>
<body>
    <div class="container">
        {{> header}}
        <section class="card">
            <div class="profileHeader">
                <h2 class="profileTitle">
                    {{ title }}'s Profile
                </h2>
                <img src={{ image }} alt="Upload Image" id="avatar">
                <p>
                    <small>
                        User created on: {{ time }}
                    </small>
                </p>
            </div>
            <div class="profileField">
                <ul>
                    <li>
                        <strong>Name: </strong><em>{{ firstName }}</em>
                    </li>
                    <li>
                        <strong>Last Name: </strong><em>{{ lastName }}</em>
                    </li>
                    <li>
                        <strong>Username: </strong><em>{{ title }}</em>
                    </li>
                </ul>
            </div>
            <form action="loader/../logout" method="GET">
                <input type="submit" class="btn" id="logout" value="Logout">
            </form>
        </section>
    </div>
</body>
</html>